.cadastre-container {
    background-color: var(--color-branco);
    color: var(--fundo-azul);
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 90vw;
    margin: auto;
    padding: 10px;
}

.cadastre-form {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.cadastre-form input {
    padding: 7px 70px 7px 10px;
    font-size: 1.4rem;
}

.cadastre-button {
    padding: 10px 100px;
    font-size: 1.2rem;
    border-radius: 5px;
    background-color: var(--fundo-azul);
    margin: 20px 0;
    color: var(--color-branco);
    cursor: pointer;
}

.cadastre-options {
    display: flex;
    gap: 69px;
    font-size: 1.4rem;
    cursor: pointer;
    margin-bottom: 10px;
}