.cadastre-container {
    background-color: var(--color-branco);
    color: var(--fundo-azul);
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 90vw;
    margin: auto;
    padding: 10px;
}

.cadastre-layout {
    height: 34rem;
    width: 70vw;
    text-align: center;
}

.input-group {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 8px;
    margin-bottom: 15px;
    background: white;
}

.input-group input {
    border: none;
    outline: none;
    flex: 1;
    margin-left: 8px;
    font-size: 1rem;
}

.icon {
    color: --fundo-azul-botao;
    width: 24px;
    height: 24px;
}

.cadastre-button {
    padding: 10px 50px;
    font-size: 1.2rem;
    border-radius: 5px;
    background-color: var(--fundo-azul);
    margin: 20px 0;
    color: var(--color-branco);
    cursor: pointer;
}

.cadastre-button:hover {
    background-color: var(--fundo-azul-botao);
}

.cadastre-options {
    padding: 15px 0;
    font-size: 1.6rem;
    cursor: pointer;
}

@media (min-width: 600px) {
    .cadastre-options {
        font-size: 1.8rem;
    }
}