.DashboardMain {
    width: 90vw;
    margin: auto;
}

.DashboardMain-Layout {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.DashboardMain-h1 {
    font-size: 3rem;
}

.DashboardMain-button1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    padding: 5px 20px;
    background-color: #14af14;
    color: white;
}

.DashboardMain-button2 {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    height: 60px;
    font-size: 1.5rem;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}

.DashboardMain button span {
    font-size: 2.6rem;
    margin-right: 5px;
}