.home {
    background-color: var(--fundo-cinza);
    align-items: center;
    min-height: calc(100vh - 119px);
    display: flex;
    justify-content: center;
    color: var(--fundo-azul);
}

.home-container {
    background-color: var(--color-branco);
}

.home-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 90vw;
    margin: auto;
    padding: 10px;
}

.home-title {
    font-size: 1.8rem;
    padding: 15px 0;
    font-weight: 800;
}

.home-descricao {
    line-height: 1.6rem;
    font-size: 1.8rem;

}

.home-descricao p {
    padding: 8px 0;
}

.home-button {
    padding: 10px 50px;
    font-size: 1.2rem;
    border-radius: 5px;
    background-color: var(--fundo-azul);
    margin: 20px 0;
    color: var(--color-branco);
    cursor: pointer;
}

.home-button:hover {
    background-color: var(--fundo-azul-botao);
}

@media (min-width: 900px) {
    .home-container {
        padding: 50px 10px;
    }
}