.header-private {
    font-size: 2rem;
}

.header-private span {
    margin-right: 10px;
}

.header_private_botao {
    padding: 5px 15px;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 5px;
    background-color: var(--color-branco);
    text-decoration: none;
}

.header_private_botao:hover {
    background-color: var(--fundo-azul-botao);
    color: var(--color-branco);
}