header {

    background-color: var(--fundo-azul);
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    width: 90vw;
    margin: auto;
}

.logo {
    color: var(--color-branco);
    font-size: 2.5rem;
    font-weight: 900;
}

.header_actions {
    display: flex;
    gap: 20px;
}

.header_actions button {
    padding: 10px;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 5px;

}

.header_actions button:hover {
    background-color: var(--fundo-azul-botao);
    color: var(--color-branco);
}