header {

    background-color: rgb(49, 83, 132);
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    width: 90vw;
    margin: auto;
}

.logo {
    font-size: 1.6rem;
}

.header_actions {
    display: flex;
    gap: 20px;
}

header button {
    padding: 10px;
    font-size: .7rem;
    cursor: pointer;
    border-radius: 5px;

}

header button:hover {
    background-color: blue;
}