/* ===== RESET ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

:root {

  /* Tipografia */
  --font-main: 'Inter', sans-serif;
}

body {
  font-family: var(--font-main);
}