/* ===== RESET ===== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  list-style: none;
}

:root {

  /* Tipografia */
  --font-main: 'Inter', sans-serif;

  /* Color */
  --color-branco: rgb(253, 252, 252);

  /* Fundo */
  --fundo-cinza: rgb(226, 228, 234);
  --fundo-azul: rgb(49, 83, 132);
  --fundo-azul-botao: blue;
}

body {
  font-family: var(--font-main);


}